In [27]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016(222).csv")

In [4]:
data.shape

(16719, 16)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [7]:
data = data.rename(columns={"Year_of_Release": "Year", 
                            "NA_Sales": "NA",
                            "EU_Sales": "EU",
                            "JP_Sales": "JP",
                            "Other_Sales": "Other",
                            "Global_Sales": "Global"})

In [8]:
data = data[data["Year"].notnull()]
data = data[data["Genre"].notnull()]

In [9]:
data.shape

(16448, 16)

In [10]:
data["Year"] = data["Year"].apply(int)
data["Age"] = 2018 - data["Year"]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16448 entries, 0 to 16718
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16448 non-null  object
 1   Platform      16448 non-null  object
 2   Year          16448 non-null  int64
 3   Genre         16448 non-null  object
 4   Publisher     16416 non-null  object
 5   NA            16448 non-null  float64
 6   EU            16448 non-null  float64
 7   JP            16448 non-null  float64
 8   Other         16448 non-null  float64
 9   Global        16448 non-null  float64
 10  Critic_Score  7983 non-null   float64
 11  Critic_Count  7983 non-null   float64
 12  User_Score    9840 non-null   object
 13  User_Count    7463 non-null   float64
 14  Developer     9907 non-null   object
 15  Rating        9769 non-null   object
 16  Age           16448 non-null  int64
dtypes: float64(8), int64(2), object(7)
memory usage: 2.3+ MB

In [12]:
def rm_outliers(df, list_of_keys):
    df_out = df
    for key in list_of_keys:
        # Calculate first and third quartile
        first_quartile = df_out[key].describe()["25%"]
        third_quartile = df_out[key].describe()["75%"]

        # Interquartile range
        iqr = third_quartile - first_quartile

        # Remove outliers
        removed = df_out[(df_out[key] <= (first_quartile - 3 * iqr)) |
                    (df_out[key] >= (third_quartile + 3 * iqr))] 
        df_out = df_out[(df_out[key] > (first_quartile - 3 * iqr)) &
                    (df_out[key] < (third_quartile + 3 * iqr))]
    return df_out, removed

In [13]:
data, rmvd_global = rm_outliers(data, ["Global"])
data.describe()

,Year,NA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Count,Age
count,15401.000000,15401.000000,15401.000000,15401.000000,15401.000000,15401.000000,7286.000000,7286.000000,6747.000000,15401.000000
mean,2006.592624,0.144688,0.072628,0.047301,0.024357,0.289258,67.779028,24.518117,111.325033,11.407376
std,5.758078,0.210709,0.131408,0.130786,0.050152,0.346918,13.612120,17.194878,406.635191,5.758078
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,-2.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,59.000000,11.000000,9.000000,8.000000
50%,2007.000000,0.070000,0.020000,0.000000,0.010000,0.150000,70.000000,20.000000,21.000000,11.000000
75%,2010.000000,0.190000,0.080000,0.030000,0.030000,0.380000,78.000000,34.000000,61.000000,15.000000
max,2020.000000,1.670000,1.580000,1.650000,1.180000,1.690000,98.000000,106.000000,10665.000000,38.000000

In [14]:
scored = data.dropna(subset=["User_Score", "Critic_Score", "Rating"])
scored.describe()

,Year,NA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Count,Age
count,7185.000000,7185.000000,7185.000000,7185.000000,7185.000000,7185.000000,7185.000000,7185.000000,6137.000000,7185.000000
mean,2007.121364,0.195992,0.102938,0.025637,0.035795,0.360692,67.776061,24.617676,118.897181,10.878636
std,4.115742,0.223204,0.149407,0.088654,0.058430,0.378126,13.614107,17.231793,424.446207,4.115742
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,2.000000
25%,2004.000000,0.050000,0.010000,0.000000,0.010000,0.090000,59.000000,11.000000,10.000000,8.000000
50%,2007.000000,0.110000,0.040000,0.000000,0.020000,0.210000,70.000000,20.000000,23.000000,11.000000
75%,2010.000000,0.260000,0.130000,0.000000,0.040000,0.510000,78.000000,34.000000,66.000000,14.000000
max,2016.000000,1.670000,1.580000,1.390000,1.180000,1.690000,98.000000,106.000000,10665.000000,33.000000

In [15]:
scored, rmvd_user_count = rm_outliers(scored, ["User_Count"])
scored.describe()

,Year,NA,EU,JP,Other,Global,Critic_Score,Critic_Count,User_Count,Age
count,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000,5534.000000
mean,2007.055837,0.205403,0.098572,0.028995,0.036368,0.369597,67.815866,24.958439,37.459523,10.944163
std,4.010373,0.225580,0.138941,0.095492,0.056428,0.367824,13.408831,15.689528,44.572477,4.010373
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000,2.000000
25%,2004.000000,0.060000,0.010000,0.000000,0.010000,0.100000,60.000000,13.000000,9.000000,8.000000
50%,2007.000000,0.130000,0.040000,0.000000,0.020000,0.230000,70.000000,22.000000,20.000000,11.000000
75%,2010.000000,0.280000,0.130000,0.000000,0.047500,0.520000,78.000000,34.000000,45.000000,14.000000
max,2016.000000,1.670000,1.160000,1.390000,1.130000,1.690000,98.000000,91.000000,233.000000,33.000000

In [16]:
data.shape

(15401, 17)

In [21]:
scored["Platform"].unique(),scored["Genre"].unique(),scored["Rating"].unique()

(array(['PS2', 'GBA', 'X360', 'PS3', 'PC', 'Wii', 'PSP', 'PS', 'XB', 'GC',
        'DS', 'XOne', '3DS', 'DC', 'PS4', 'WiiU', 'PSV'], dtype=object),
 array(['Shooter', 'Action', 'Role-Playing', 'Racing', 'Simulation',
        'Sports', 'Fighting', 'Platform', 'Misc', 'Strategy', 'Puzzle',
        'Adventure'], dtype=object),
 array(['M', 'E', 'T', 'E10+', 'RP'], dtype=object))

In [22]:
import category_encoders as ce
# Select the numeric columns
numeric_subset = scored.select_dtypes("number").drop(columns=["NA", "EU", "JP", "Other", "Year"])

# Select the categorical column
categorical_subset = scored[["Platform", "Genre", "Rating"]]

# One hot encode
encoder = ce.one_hot.OneHotEncoder()
categorical_subset = encoder.fit_transform(categorical_subset)

# Join the two dataframes using concat
# Make sure to use axis = 1 to perform a column bind
features = pd.concat([numeric_subset, categorical_subset], axis = 1)

# Find correlations with the score 
correlations = features.corr()["Global"].dropna().sort_values()

In [23]:
correlations.tail(5)

Platform_4      0.103652
User_Count      0.252651
Critic_Score    0.281545
Critic_Count    0.292327
Global          1.000000
Name: Global, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split
basic_target = pd.Series(features["Global"])
basic_features = features.drop(columns="Global")
features_train, features_test, target_train, target_test = train_test_split(basic_features, basic_target, 
                                                                            test_size=0.2,
                                                                            random_state=42)
print(features_train.shape)
print(features_test.shape)
print(target_train.shape)
print(target_test.shape)

(4427, 38)
(1107, 38)
(4427,)
(1107,)

In [31]:
def mae(y_true, y_pred):
    return np.average(abs(y_true - y_pred))

In [33]:
from sklearn.metrics import r2_score

# Baseline prediction: median of training target
baseline_guess = np.median(target_train)

# Make predictions: same value for all test samples
baseline_predictions = np.full_like(target_test, baseline_guess)

# Calculate MAE
basic_baseline_mae = mae(target_test, baseline_predictions)

# Calculate R² Score
basic_baseline_r2 = r2_score(target_test, baseline_predictions)

# Print results
print("Baseline guess for global sales is: {:.02f}".format(baseline_guess))
print("Baseline Performance on the test set: MAE = {:.04f}".format(basic_baseline_mae))
print("Baseline Performance on the test set: R² Score = {:.04f}".format(basic_baseline_r2))

Baseline guess for global sales is: 0.23
Baseline Performance on the test set: MAE = 0.2787
Baseline Performance on the test set: R² Score = -0.1686

In [34]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [36]:
from sklearn.metrics import r2_score

def fit_and_evaluate(model):
    # Train the model
    model.fit(features_train, target_train)
    
    # Make predictions
    model_pred = model.predict(features_test)
    
    # Calculate MAE
    model_mae = mae(target_test, model_pred)
    
    # Calculate R² Score
    model_r2 = r2_score(target_test, model_pred)
    
    # Print and return both metrics
    print(f"Model Performance:\n - MAE = {model_mae:.4f}\n - R² Score = {model_r2:.4f}")
    
    return model_mae, model_r2

In [37]:
lr = LinearRegression()
results = fit_and_evaluate(lr)

print("Linear Regression Performance on the test set:\n - MAE = {:.04f}\n - R² = {:.04f}".format(results[0], results[1]))

Model Performance:
 - MAE = 0.2364
 - R² Score = 0.3052
Linear Regression Performance on the test set:
 - MAE = 0.2364
 - R² = 0.3052

In [42]:
random_forest = RandomForestRegressor(random_state=42)
random_forest_mae, random_forest_r2 = fit_and_evaluate(random_forest)

print("Random Forest Regression Performance on the test set:")
print(" - MAE = {:.04f}".format(random_forest_mae))
print(" - R² Score = {:.04f}".format(random_forest_r2))

Model Performance:
 - MAE = 0.2224
 - R² Score = 0.3562
Random Forest Regression Performance on the test set:
 - MAE = 0.2224
 - R² Score = 0.3562

In [39]:
gradient_boosting = GradientBoostingRegressor(random_state=60)
gradient_boosting_mae, gradient_boosting_r2 = fit_and_evaluate(gradient_boosting)

print("Gradient Boosting Regression Performance on the test set:")
print(" - MAE = {:.04f}".format(gradient_boosting_mae))
print(" - R² Score = {:.04f}".format(gradient_boosting_r2))

Model Performance:
 - MAE = 0.2195
 - R² Score = 0.3766
Gradient Boosting Regression Performance on the test set:
 - MAE = 0.2195
 - R² Score = 0.3766